.user-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.user-card {
  display: flex;
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  flex-direction: column;
  margin: 20px; /* Added margin for space outside the border */

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.user-image-container {
  order: 1;
  margin-right: 20px; /* Added margin for space between image and text */

  @media (min-width: 768px) {
    order: 0;
    width: 30%;
    margin-right: 0;
  }
}

.user-image {
  width: 100%;
  height: auto;
}

.user-info {
  padding: 16px;
  order: 2;
  width: 100%;

  @media (min-width: 768px) {
    order: 1;
    width: 70%;
  }
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px; /* Increased margin for more space */
}

.user-gender, .user-phone {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px; /* Increased margin for more space */
}
